@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Factura Electrónica ENERCER</h1>
        <p class="lead">Aplicación web que permite la generación de la factura electrónica a partir de la información que se maneja en Integrin </p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Clientes</h2>
            <p>
                El Módulo de Clientes permite completar la información de los clientes que se maneja en Integrin para ajustarla a los formatos que exige la DIAN
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Cargar Datos</h2>
            <p>El módulo de Cargue de Datos permite extraer los datos de la facturación que se encuentran en los archivos de la facturación en sitio.</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Emitir Facturas</h2>
            <p>El módulo de Emitir Facturas permite realizar el envio de los documentos a la plataforma INVOWAY.</p>
        </section>
    </div>
</main>