
@{
    ViewBag.Title = "Enviar Facturas";
}

<h2>Envio Facturas</h2>
<hr />
@using(Html.BeginForm())
{
    <div class="form-vertical">
        <div class="form-group">
            <label for="txtfecha" class="form-label">Fecha Factura</label>
            <input id="txtfecha" type="date" class="form-control" autofocus />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" id="btnenviar" />
            </div>
        </div>
    </div>
}
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnenviar').click(async function () {
                var fecharep = $('#txtfecha').val();
                console.log('Fecha a Enviar: ', fecharep);
                try {
                    let response = await $.ajax({
                        url: '/EnviarFactura/EnviarFacturas',
                        type: 'GET',
                        data: { fecha: fecharep }
                    });

                    console.log('Solicitud AJAX exitosa');
                    console.log('Respuesta del servidor:', response);

                    if (response.success) {
                        alert(response.response || "Operación exitosa!");
                    } else {
                        alert(response.message || 'Error');
                    }
                } catch (error) {
                    console.error('Error en la solicitud AJAX:', error);
                    alert('Error en la solicitud');
                }

                //$.ajax({
                //    url: '/EnviarFactura/EnviarFacturas',
                //    type: 'POST',
                //    data: { fecha: fecharep },
                //    success: function (response) {
                //        console.log('Solicitud AJAX exitosa');
                //        console.log('Respuesta del servidor:', response);
                //        if (response.success) {
                //            alert(response.message || "Operación exitosa!");
                //        } else {
                //            alert(response.message || 'Error');
                //        }
                //    },
                //    error: function (jqXHR, textStatus, errorThrown) {
                //        console.error('Error en la solicitud:', textStatus, errorThrown);
                //        alert('Error en la solicitud');
                //    }
                //});
            });
        });
    </script>
}

